body {
 background-image: url(images/background-body.JPG);
      font-family: 'Quicksand', sans-serif;
  }

  #hair-body{
      margin-top: 50px;
        margin-left: 50px;
  }

  .card {
        margin-left: 350px;
  }
  #conrowing {
      margin-top: 50px;
      margin-left: 50px; 
  }

  #forming{
    
        padding-top: 100px;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 100px;
      margin-bottom: 50px;
  }

#wiggy{
      margin-top: 50px;
      margin-left: 50px; 
}

#ext-forsale{
      margin-top: 50px;
      margin-left: 50px; 
}


#shamp-cond {
      margin-top: 50px;
      margin-left: 50px;
}

  #discounting{
      margin-left: 550px;   
  }
#accessories{
      margin-top: 50px;
      margin-left: 50px; 
}
  #clothing {
      margin-top: 50px;
      margin-left: 50px; 
  }
  #facial {
      margin-top: 50px;
      margin-left: 50px; 
}
  
  #flat-ironing {
      margin-top: 50px;
  margin-left: 50px;
  }

  #shampooing {
      margin-top: 50px;
      margin-left: 50px;
  }

  #highlighting {
      margin-top: 50px;
      margin-left: 50px;
  }

#styles {
      margin-top: 50px;
      margin-left: 50px;
}
  #perming {
      margin-top: 50px;
      margin-left: 50px; 
  }
  
#opening {
      text-align: center;
     
      
      margin-top: 50px;
      margin-left: 650px;    
      margin-right: 550px; 
      margin-bottom: 50px;
      padding-right: 65px;
     
}
  #Braiding {
      margin-top: 50px;
      margin-left: 50px;
}

#Crocheting {
      margin-top: 50px;
      margin-left: 50px;
}

  img {
        margin-bottom: 25px;
  }

.jumbotron {
      background-color:rgb(190, 15, 103);
      color: aliceblue;
      text-align: center;
      padding:50px;
}

.center {
      display: block;
      margin-left: auto;
      margin-right:auto ;
      width: 100%;
  }

.row {
      padding-top: 80px;
}

.navbar {
      padding: 10px;
}


footer {
      padding: 30px 0;
      clear: both;
      font-size: 12px;
      color:  aliceblue;
      text-align: center;
      background: rgb(190, 15, 103);
    }
   
   